

#footer{
    width: 100%;
    height: 8rem;
    text-align: center;
    
    background-color: rgb(12, 17, 27);
    border-top: 1px solid rgb(29, 29, 29)
}

#footer span{
    line-height: 8rem;
    font-size:1.6rem;
    letter-spacing:1px;
}