

#header{
    padding: 1.6rem 3rem;
    width: 100vw;
    background-color: rgba(0, 9, 32, .8);
    
    background-image: linear-gradient(250deg, rgba(0, 80, 253, 0.3) 0%, rgba(0, 8, 29, 0.336) 90%);
    
    height: 5.5rem;
    border-bottom: 1px solid rgb(77, 77, 77);
    position: fixed;
    top: 0;
    z-index: 10;

}

#header div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header nav{
    display: none;
}

#header h1{
    font-size: 1.9rem;
    letter-spacing: .15rem;
    font-weight: 500;
}


#header__icon-menu{
    width: 3rem;
    height: 3rem;
}

#header__icon-menu:hover{
    cursor: pointer;
}