

/* =========== GERAL ====================== */

main section{
    text-align: center;
    padding: 4rem 2rem;
}

main section h1{
    font-size: 3.5rem;
    margin-block: 5rem;
    letter-spacing: .2rem;

}

img.main__section-hello__img-i-paulo{
    display: none;
}


/* =========== SECTION HELLO ====================== */

#main__section-hello{
    height: 62vh;
    max-width: min-content;
    margin-inline: auto;

}

#main__section-hello span{
    display: block;
}

#main__section-hello span:nth-child(2){
    text-align: center;
    overflow: hidden; 
    border-right: 2px solid rgb(21, 12, 102);
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 1px; 
    animation: 
        typing 2.7s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 158, 163); }
}


.main__section-hello__container_message{
    margin-top: 6rem;
}

main section:nth-child(1){
    margin-top: 17rem;
    margin-bottom: 10rem;
}


#main__section-hello span{
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 160%;

}

#main__section-hello span:nth-child(2){
    font-size: 4.1rem;
    line-height: 160%;

    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;

    margin-inline: 0;

}

#main__section-hello span:nth-child(3){
    line-height: 260%;
}

a.main__section-hello__container_message_btn-contact{

    background-color: rgb(57, 3, 206);

    background-image: linear-gradient(250deg, rgb(56, 27, 223) 0%, rgb(1, 24, 87) 90%);

    padding: 1.5rem 4.5rem;
    margin-top: 3rem;
    display: inline-block;

    color: #fff;
    letter-spacing: .16rem;
    font-size: 1.8rem;
    border: none;
    transition: filter .3s
    
}

a.main__section-hello__container_message_btn-contact:hover{
    filter:brightness(1.4)
}


@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(10px); }
    100% { transform: translateY(0rem); }
}

.main__section-hello__container_img-icon-arrow{
    position: absolute;

    left:50%;
    /* border: 0px; */
    bottom: 90px;
    transform: translateX(-50%);
}

img.main__section-hello__img-icon-arrow{
    /* position:relative; */
    /* bottom: 18%; */


    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
    /* left:50%; */
    /* margin-inline: auto; */

}


/* =========== SECTION ABOUT ME ====================== */


#main__section-about-me{
    background-color: var(--blue-800);
    text-align: left;
    /* padding: 2rem; */
    border-bottom: 0.2px solid var(--gray-500)

}

#main__section-about-me p{

    line-height: 200%;
    font-size: 1.7rem;
    color: var(--gray-200);

}


/* =========== SECTION PROJECTS ====================== */

#main__section-projects{
    border-bottom: 0.2px solid var(--gray-500)

}

.main__section-projects__cards__card{
    margin-bottom: 3rem;
    width: 100%;
    text-align: left;
    background-color: rgb(6, 15, 34);
    padding: 2rem;
    /* border-radius:.5rem; */
    border-image: linear-gradient(to right, #1c2c74 0%, #008378 100%);

    border-image-slice: 1;
    border-width: 1px;
    border-style: solid;


}

.main__section-projects__cards__card-h2{
    /* color: red; */
    font-size: 2.2rem;
    margin-bottom: 1.5rem;

}

.main__section-projects__cards__card-text{
    color: var(--gray-200);
    line-height: 160%;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.main__section-projects__link-github {
    color: rgb(9, 217, 224);
    letter-spacing: .1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: inline-block;
}


/* =========== SECTION KNOWLEDGE ====================== */

#main__section-knowledge{
    background-color: var(--blue-800);
}


.main__section-knowledge__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.main__section-knowledge__icons img{
    width: 80px;
    height: 80px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    padding: 3px;
    background-color: rgb(15, 15, 22);

    border: 1px solid rgb(0, 30, 201);
}



.main__section-knowledge__icons img:hover{
    cursor: pointer;
    animation-name: bounce;
    animation-timing-function: ease;
}


.main__section-knowledge__techs__instruction{
    font-size: 1.6rem;
    color: var(--gray-200);
    letter-spacing: .08rem;
    line-height: 140%;
    margin-bottom: 3rem;
    display: inline-block;
    font-weight: 300;
}

.main__section-knowledge__techs p{
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s;
    max-height: 0;
}

.main__section-knowledge__techs p.is--active{
    display: inline-block;
    visibility: visible;
    max-height: initial;

    background-color: rgb(7, 20, 37);
    border-radius: 0 1rem 1rem 0;
    border-left: 9px solid rgb(0, 45, 112);
    padding: 1rem;
    margin-block: 0 4rem;
    font-size: 1.6rem;
    line-height: 180%;
    letter-spacing: .06rem;
    font-weight: 400;
    opacity: 1;


}


/* =========== SECTION CONTACT ====================== */


.main__section-contact__contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 12rem;
}

.main__section-contact__contacts a{
    font-size: 1.6rem;
    background-color: rgb(16, 17, 27);
    padding-block: 1.3rem;
    padding-left: 1rem;
    border-radius: 2px;

    border: 1px solid rgb(20, 20, 141);
    font-weight: 500;
    color: var(--white);
    display: flex;

    align-items: center;
    gap: .5rem;
}


.main__section-contact__contacts a:hover{
    filter:brightness(1.5)
}