

body.menu-expanded {
  overflow: hidden;
}
body.menu-expanded > :not(header)  {
    visibility: hidden;
}

body.menu-expanded #header{
    background-color: rgb(3, 8, 31); 
    /* background-image: linear-gradient(250deg, rgba(0, 80, 253) 0%, rgba(0, 8, 29) 90%); */


    
}


#header .wrapper nav{
    /* position: absolute; */
    transform: translateY(100%);
    /* opacity: 0; */
}

body.menu-expanded #header .wrapper nav{
    top: var(--header-height);
    left: 0;
    /* background: var(--primary-color); */
    /* opacity: 1; */
    position: absolute;
    /* visibility: absolute; */
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 9, 29); 
    /* z-index: 10000; */
    transition: transform 500s;
    transform: translateY(0px)


}



body.menu-expanded #menu ul{
    
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    /* padding-bottom: 0; */
}

body.menu-expanded #menu li a{
    font-size: 2.4rem;
    color: var(--white);
    /* text-transform: uppercase; */
    border-bottom: 1px solid rgb(51, 56, 82);
}

