

@media (min-width: 700px) {


    /* =========== GERAL ====================== */

    .wrapper{
        max-width: 1200px;
        margin-inline: auto;
    }

    /* =========== HEADER SECTION ====================== */
    
    #header  img {
        display: none;
    }
    #header .wrapper nav{
        display: inline-block;
        opacity: 1;
        transform: initial;
    }

    #header nav ul{
        display: flex;
        gap: 4rem;
        letter-spacing: 1.3px;
        font-size: 1.5rem;
    }

    nav ul li a{
        color: #fff;
        border: 0;
    }

    nav ul li a:hover{
        cursor: pointer;
        color:rgb(173, 173, 173);
        
        border-bottom: 1px solid rgb(212, 212, 212);

        transition: border 700ms;

    }

    /* =========== HELLO SECTION ====================== */

    #header {
        padding-inline: 4rem;

    }

    .wrapper-header{
        max-width: 1400px;
        margin-inline: auto;
    }

    main section{
        padding-inline: 4rem;
    }

    img.main__section-hello__img-i-paulo{
        display: inline-block;
    }

    #main__section-hello{

        /* border: 1px solid red; */
        margin-inline: auto;
        padding: 0;
        display: grid;
        grid-template-columns: 500px 500px;
        /* gap: 2rem; */
        grid-template-areas: 'A B';
        justify-content: space-evenly;
        /* margin-left: 3rem; */
        /* max-width: 1200px; */
        
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    .main__section-hello__container_img-icon-arrow{
    bottom: 80px;

    }

    .main__section-hello__container_message{
        text-align: left;
        /* margin-left: 1rem;
        margin-top: 3rem; */
        /* margin-inline: 0; */
        /* border: 1px solid green; */
        /* width: 50%; */
        max-width: min-content;


    }

    .main__section-hello__container_img{
        /* height: 20rem; */
        /* border: 1px solid blue; */
        /* width: 30rem; */
    }

    img.main__section-hello__img-i-paulo{
        height: 24rem;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
        animation-name: bounce;
        animation-timing-function: ease;
    }

    @keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(3px); }
        100% { transform: translateY(0rem); }
    }

    img.main__section-hello__img-i-paulo:hover{
        height: 28rem;
    }

    #main__section-hello p:nth-child(2){
        /* margin: 0;
        width:fit-content; */
    }

    #main__section-about-me{
        /* padding-left: 3rem; */
    }

    #main__section-about-me p{
        max-width: 800px;
    }


    /* =========== PROJECTS SECTION ====================== */

    .main__section-projects__cards{
        display: flex;
        gap: 2.5rem;
        justify-content: center;
    }

    div .main__section-projects__cards__card{
        width: 280px;
        /* margin-inline: auto; */
        /* transition: border 2s; */
        /* border: 1px solid blue; */

    }

    div .main__section-projects__cards__card:hover{
        border-image: linear-gradient(to right, #3151df 0%, #11cebe 100%);
        border-image-slice: 1;
        border-width: 1px;
        border-style: solid;
        /* transition: border 2s; */
    }


    /* =========== KNOWLEDGE SECTION ====================== */


    .main__section-knowledge__techs p.is--active {
        font-size: 1.6rem;
    }


    .main__section-knowledge__icons{
        width: 100%;
        justify-content: flex-start;
        gap: 3rem;
    }

    .main__section-knowledge__techs{
        grid-template-columns: 45% 55%;
        grid-template-areas: 'B A';
        display: grid;

    }


    /* =========== CONTACT SECTION ====================== */


    .main__section-contact__contacts a{
        width: 60%;
        margin-inline: auto;
        font-size: 1.8rem;
        padding-block: 1.4rem;

    }

}


@media (min-width: 1400px) {

    .wrapper{
        max-width: 1600px;
    }


    .main__section-hello__container_img-icon-arrow{
        bottom: 200px;
    }


}