html{
	line-height: 1.15; /* 1 */
    scroll-behavior: smooth;

}

:root{
    
    font-size: 62.5%;

    --blue-900: #080713;
    
    --blue-600: #090918;

    --blue-700: rgb(22, 17, 41);


    --gray-200: rgb(148, 148, 148);

    --gray-500: rgb(68, 68, 68);


}

body{
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    background-color: var(--blue-900);
    color: #fff;
    
    font-family: 'Saira', Tahoma, Helvetica, Verdana;
    /* position: relative; */
    /* letter-spacing: 1.5px; */
    /* overflow: overlay; */
    width: 100%;
    height: 100%;
    font-weight: 400;

}

a, button:hover{
    cursor: pointer;
}

